body{
    margin: auto;
    width: 900px;
    font-family: 'Open Sans', sans-serif;
    background:rgb(47, 56, 72);
    color: #FFFFFF;
    font-weight: bolder;
    text-align: justify;
}

a {
    text-decoration: underline;
    color: rgb(147, 175, 68);
}

#boutonsleft a{
    text-decoration: none;
}

a:hover {
    color: #bdbdbd;
}
h1{
    font-style: italic;
    font-size: 2em;
    text-align: center;
    width: 100%;
    height: 2em;
    background:rgb(240, 87, 104) ;
    border-bottom: rgb(173, 216, 230) solid 3px;
    border-radius:0 0 10px 10px ;
    padding: 5px;
}
h2{
    font-style: italic;
    font-size: 2em;
    color: rgb(0, 153, 204);
    width: 800px;
    padding: 10px;
}
h3{
    color: rgb(0, 204, 255);
    text-transform: uppercase;
    font-size: 1.3em;
}
hr{
    border: rgb(0, 160, 204) 1px solid;    
}
p {
    font-size: 1em;
    line-height: 23px;
}
.boutonsleft{
    padding: 10px;
    font-size: 1.5em;
    color: rgb(147, 175, 68);
    flex-direction: row;
    justify-content: flex-start;
    display: inline;
    text-align: center;
    text-decoration: none;
}
.boutonsright{
    height: 1.5em;
    justify-content: flex-end;
    float:right;
    margin: 5px;
}
/*Personnalisation grande image*/
.detailsweek{
    width: 900px;
    height: 562px;
    background-size: 900px;
    position: relative;
}
.detailsweektxt{
    font-size: 1.4em;
    text-transform: uppercase;
    background:rgb(240, 87, 104) ;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width:390px;
}
.detailsweek img{
    width: 900px;
    height: 562px;
    background-size: 900px;    
}

/*Personnalisation blocs galerie + txt*/
.bigbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top:20px;
    justify-content: space-between;
}

/*blocs galerie images à GAUCHE*/
.galery{
    width: 600px;
    height:950px;
    display: flex;
    flex-wrap: wrap;
}
.cameleon50{
    height: 290px;
    width: 290px;
    grid-area: img00;
}
.grpfive{
    width: 600px;
    height: 295px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-areas:
    "img00 img01 img02"
    "img00 img03 img04";
    justify-content: space-between;
    gap: 5px;
}
.galerydown img{
    width: 140px;
    height: 140px;
    margin-bottom: 15px;
}
.bicolor_flower {
    width: 140px;
    height: 140px;
    grid-area: img01;
}
.white_cameleon{
    width: 140px;
    height: 140px;
    grid-area: img02;
}
.multi_cameleon{
    width: 140px;
    height: 140px;
    grid-area: img03;
}
.left_side_cameleon{
    width: 140px;
    height: 140px;
    grid-area: img04;
}

/*bloc de messages à DROITE*/
.rightbox{
    width: 285px;
    background-color: rgb(0, 68, 136);
    padding: 20px;
    height: 425px;
    color: rgb(154, 201, 100);
    text-align: left;
    align-items: flex-start;
    justify-content: flex-end;    
}
footer{
    text-align: center;
    font-size: 1em;
    color: rgb(96, 185, 206);
    padding: 20px;
    width: 900px;
}
/*Start Super Bonus*/
.heart img{
    margin:0 auto;
}

@keyframes heartFadeInOut {
    0% {transform: scale(1);}
    25% {transform: scale(.97);}
    35% {transform: scale(.9);}
    45% {transform: scale(1.1);}
    55% {transform: scale(.9);}
    65% {transform: scale(1.1);}
    75% {transform: scale(1.03);}
    100% {transform: scale(1);}
}

.heart img.bottom { 
    animation-name: heartFadeInOut; 
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}
.boutonsright:hover{
    transform: scale(2);
    transition-duration: 0.2s;
}
/*End Super Bonus*/
